[gerrit]
	basePath = git
	canonicalWebUrl = http://localhost:8081/
	serverId = 805ed902-be72-42f2-bc1d-dd47114ffcd4
[container]
	javaOptions = "-Dflogger.backend_factory=com.google.common.flogger.backend.log4j.Log4jBackendFactory#getInstance"
	javaOptions = "-Dflogger.logging_context=com.google.gerrit.server.logging.LoggingContext#getInstance"
	user = davido
	javaHome = /Library/Java/JavaVirtualMachines/jdk1.8.0_112.jdk/Contents/Home/jre
[index]
	type = LUCENE
[auth]
	type = LDAP
	gitBasicAuthPolicy = HTTP_LDAP
[ldap]
	server = ldap://localhost
	#server = ldap://ldap
	username = cn=admin,dc=example,dc=org
	accountBase = dc=example,dc=org
        accountPattern = (&(objectClass=person)(uid=${username}))
	groupBase = dc=example,dc=org
        accountFullName = displayName
        accountEmailAddress = mail
[receive]
	enableSignedPush = false
[sendemail]
	smtpServer = localhost
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8081/
	filterClass = com.googlesource.gerrit.plugins.saml.SamlWebFilter
[cache]
	directory = cache
